
 <div class="container">
    <div class="background"></div>
    <div class="panel-container">
      <p-panel header="Welcome to Our Application" class="panel">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p>Welcome to Employee Management! Please login to manage.</p>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <button pButton type="button" label="Login" icon="pi pi-user" routerLink="/login" class="ui-button-success"></button>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
  